* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

a {
    text-decoration: none;
    margin: 20px;
    color: #333;
    transition: 0.3s;
}

a:hover {
    color: #ff4500;
}

img {
    width: 400px;
    height: 270px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.centralizar {
    font-size: 30px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.centralizar li {
    margin: 0 10px;
}
